{% extends "main.html" %}
{% load static %}

{% block 'title' %}
    Editar serviço
{% endblock %}

{% block 'content' %}
<div class="row">
    <div class="col-12 text-center">
        <p>Editar serviço</p>
    </div>
    <div class="col-12">
        <form action="/servicos/edit/{{servico.id}}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="{{servico.nome}}" value="{{servico.nome}}" required>
                </div>
                <div class="col-12">
                    <label for="preco">Preço</label>
                    <input type="number" name="preco" id="preco" step="0.01" class="form-control" placeholder="{{servico.preco}}" value="{{servico.preco}}" required>
                </div> 
            </div>
            <div class="row justify-content-center py-4">
                <a href="/servicos/delete/{{servico.id}}" class="btn btn-dark">Excluir</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}