{% extends 'main.html' %}
{% load static %}

{% block 'title' %}
    Dashboard
{% endblock %}

{% block 'content' %}
<div class="row justify-content-center bg-light rounded">
    <div class="col-12 col-lg-6  p-5">
        <img src="{% static 'media/logo.png' %}" alt="" class="img-fluid">
    </div>
    <div class="col-12 col-lg-6 p-5 text-center">
        <div class="row">
            <h2 class=" col-12">Serviços concluídos</h2>
            <div class="lara col-12 rounded p-3 py-3>">{{numOrdens}}</div>
        </div>
        <div class="row">
            <h2 class=" col-12">Faturamento</h2>
            <div class="lara col-12 rounded p-3">R$ {{totalOrdens}}</div>
        </div>
    </div>
</div>
{% endblock %}