{%extends 'main.html'%}
{%load static%}

{%block 'title'%}
    Faturamento
{%endblock%}

{%block 'content'%}

<div class="row justify-content-center">
    <div class="col-12 col-lg-6  p-5">
        <img src="{% static 'media/logo.png' %}" alt="" class="img-fluid">
    </div>
    <div class="col-12 col-lg-6 p-5 text-center">
        <div class="row">
            <h2 class=" col-12">Serviços concluídos</h2>
            <div class="lara col-12 rounded p-3">22</div>
        </div>
        <div class="row">
            <h2 class=" col-12">Faturamento</h2>
            <div class="lara col-12 rounded p-3">R$ 12.432</div>
        </div>
    </div>
</div>
    
    {%endblock%}
    ```