{% extends "main.html" %}
{% load static %}

{% block 'title' %}
    Nova peça
{% endblock %}

{% block 'content' %}
<div class="row">
    <div class="col-12 text-center">
        <p>Nova peça</p>
    </div>
    <div class="col-12">
        <form action="/pecas/new" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" required>
                </div>
                <div class="col-12">
                    <label for="preco">Preço</label>
                    <input type="number" name="preco" id="preco" class="form-control" required>
                </div>                
            </div>
            <div class="row justify-content-center py-4">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}